@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.heading::before {
  display: inline-block;
  content: "";
  border-top: 2px solid #bef56e;
  width: 40px;
  margin: 0 0.6rem 0 0;
  border-radius: 100px;
  transform: translateY(-0.2rem);
}
